@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Ẩn thanh scrollbar cho Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Ẩn thanh scrollbar cho IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}

body {
    @apply bg-background-light dark:bg-background-dark text-gray-900 dark:text-white;
}